build.ninja
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cover_db/
doc/basetest.html
doc/pod2htmd.tmp
doc/testapi.html
videoencoder
debugviewer/debugviewer
snd2png/snd2png
__pycache__/
_Inline/
t/_Inline/
.ninja_deps
.ninja_log
debugviewer/CMakeFiles/
debugviewer/cmake_install.cmake
doc/cmake_install.cmake
install-target/
install_manifest.txt
ppmclibs/CMakeFiles/
ppmclibs/cmake_install.cmake
ppmclibs/tinycv-xs.cpp
ppmclibs/tinycv.so
rules.ninja
snd2png/CMakeFiles/
snd2png/cmake_install.cmake
systemd/cmake_install.cmake
systemd/os-autoinst-openvswitch.service
Testing/

# TODO this shouldn't exist?
doc/backend_vars.asciidoc.newvars

# Common dir for local building
build/
